body {
    font-family: Verdana, Helvetica, sans-serif;
    width: 1000px;
    margin: 0 auto;
    background: rgb(27, 36, 49);
    display: flex;
    flex-direction: column;
}

.box {
    background-color: rgb(41, 70, 96);
    border-top: 5px solid rgb(224, 179, 255);
    border-radius: 1px;
    margin-top: 10px;
}

.box-content {
    padding: 10px;
    justify-content: center;
}

.box-top {
    display: flex;
    background-color: rgb(54, 90, 124);
}

.box-button {
    background-color: rgb(70, 116, 160);
    margin-left: auto;
}

.box-title {
    color: white;
    /* text-transform: uppercase; */
    display: block;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}
    
.navbar {
    display: flex;
    background-color: rgb(133, 51, 255);
}

.nav-user {
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


li a {
    /* text-transform: uppercase; */
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.thick {
    font-weight: bold;
}

a {
    color: rgb(230, 230, 230);
    text-decoration: none;
}

a:hover {
    color: white;
}

p {
    color: white;
    padding: 4px 0px 4px 0px;
    margin: 0;
}

h2 {
    color: white;
    /* text-transform: uppercase; */
    margin: 0;
    padding: 0px 0px 10px 0px;
    display: flex;
    flex-direction: row;
}

.button {
    font-size: 1em;
    padding:3px;
    width: 70px;
    background-color: rgb(70, 116, 160);
    border: 1px solid #0184BC;
    text-decoration:none;
    color: white;
    text-align: center;
}

#games {
    border-collapse: collapse;
    width: 100%;
}
  
#games td, #games th {
    padding: 8px;
    text-align: center;
    color: white;
}

#games tr:nth-child(even){background-color: rgb(47, 77, 106);}

#games tr:hover {background-color: rgb(70, 116, 160);}

#games th {
    padding-bottom: 12px;
    text-align: center;
    color: white;
}

input {
    padding: 3px 5px;
}
