.input-time {
    width:60px
}

td {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

th {
    padding-left: 30px;
    padding-right: 30px;
}

.runner {
    text-align: left;
}