{% extends "layout.html" %}
{% block content %}

<div class="box">
    <ul class="box-top">
        <li class="box-title">Add game</li>
    </ul>
    <div class="box-content">
        <div id="error">
            {% if message %}
                {% include "error_message.html" %}
                <br>
            {% endif %}
        </div>
        <form action="/add_game" method="POST">
            <p>Title:<br>
            <input type="text" name="title"></p>
            <input type="submit" value="Add" class="button">
        </form>
    </div>
</div>

<a href="/" style="padding: 10px">< Back</a>

{% endblock %}
