{% extends "layout.html" %}
{% block content %}

<div class="box">
    <div>
        <ul class="box-top">
            <div>
                <li class="box-title">Add game</li>
            </div>
        </ul>
    </div>
    <div class="box-content">
        <form action="/add_game" method="POST">
            <p>Title:<br>
            <input type="text" name="title"></p>
            <input type="submit" value="Add" class="button">
        </form>
    </div>
</div>

<a href="/" style="padding: 10px">Back</a>

{% endblock %}
