{% extends "layout.html" %}
{% block content %}

<div class="box">
    <div>
        <ul class="box-top">
            <div>
                <li class="box-title">{{ game.title }}</li>
            </div>
            <div class="box-button">
                <li><a href="/game/{{ game.id }}/submit_run">+ Submit run</a></li>
            </div>
        </ul>
    </div>
    <div class="box-content">
        <table id="games">
            <tr>
                <th style="width: 10px">Rank</th>
                <th style="text-align: left">Runner</th>
                <th>Time</th>
                <th>Platform</th>
                <th>Date</th></tgh>
            </tr>
            {% for run in runs %}
            <tr>
                <td style="width: 10px">{{ loop.index }}</td>
                <td style="text-align: left"><a href="/user/{{ run.user_id }}">{{ run.user }}</a></td>
                <td>{{ format_time(run.time) }}</td>
                <td>{{ run.platform }}</td>
                <td>{{ run.date }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<a href="/" style="padding: 10px">Back</a>

{% endblock %}
