{% extends "layout.html" %}
{% block content %}

<p>{{ game.title }}</p>

{% for platform in platforms %}
{{ platform.name }}
{% endfor %}

<table>
    <tr>
        <th>Runner</th>
        <th>Time</th>
        <th>Platform</th>
        <th>Date</th></tgh>
    </tr>
    {% for run in runs %}
    <tr>
        <td class="runner">{{ run.user }}</td>
        <td>{{ format_time(run.time) }}</td>
        <td>{{ run.platform }}</td>
        <td>{{ run.date }}</td>
    </tr>
    {% endfor %}
</table>


<a href="/game/{{ game.id }}/submit_run">Submit run</a><br>
<a href="/">Back</a>

{% endblock %}
