{% extends "layout.html" %}
{% block content %}

<div class="box">
    <ul class="box-top">
        <li class="box-title">Newest Runs</li>
    </ul>
    <div class="box-content">
        <table id="games">
            <tr>
                {% if admin %}
                <th></th>
                {% endif %}
                <th style="text-align: left; width: 20em">Game</th>
                <th style="width: 10em">Runner</th>
                <th>Time</th>
                <th>Platform</th>
                <th>Date</th>
            </tr>
            {% for run in runs %}
            <tr>
                {% if admin %}
                <td width="1em">
                    <form action="/delete_run/{{ run.id }}" method="POST" onsubmit="return confirm('Are you sure you want to delete the run for {{ run.game }}?')">
                        <input type="submit" value="x" class="delete-button">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    </form>
                </td>
                {% endif %}
                <td style="text-align: left"><a href="/game/{{ run.game_id }}">{{ format_title(run.game) }}</a></th>
                <td><a href="/user/{{ run.user_id }}">{{ run.user }}</a></td>
                <td>{{ format_time(run.time) }}</td>
                <td>{{ run.platform }}</td>
                <td>{{ run.date }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="box">
    <ul class="box-top">
        <li class="box-title">Games</li>
        <li class="box-button"><a href="/add_game">+ Add Game</a></li>
    </ul>
    <div class="box-content">
        {% for game in games %}
        <p>
            {% if admin %}
            <form style="display: inline-block; margin-right: 0.2em" action="/delete_game/{{ game.id }}" method="POST" onsubmit="return confirm('Are you sure you want to delete {{ game.title }}?')">
                <input type="submit" value="x" class="delete-button">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
            {% endif %}
            <a href="/game/{{ game.id }}">{{ game.title }}</a>
        </p>
        {% endfor %}
    </div>
</div>

{% endblock %}
