{% extends "layout.html" %}
{% block content %}

<div class="box">
    <div>
        <ul class="box-top">
            <div>
                <li class="box-title">Login</li>
            </div>
        </ul>
    </div>
    <div class="box-content">
        <form action="/login" method="POST">
            <p>Username:<br>
            <input type="text" name="username"></p>
            <p>Password:<br>
            <input type="password" name="password"></p>
            <input type="submit" value="Login">
        </form>
    </div>
</div>

{% endblock %}
