{% extends "layout.html" %}
{% block content %}

<div class="box">
    <ul class="box-top">
        <li class="box-title">Register</li>
    </ul>
    <div id="error">
        {% if message %}
            {% include "error.html" %}
        {% endif %}
    </div>
    <div class="box-content">
        <form action="/register" method="POST">
            <p>Username (1-20 characters):<br>
            <input type="text" name="username"></p>
            <p>Password (8 characters minimum):<br>
            <input type="password" name="password1"></p>
            <p>Re-enter password:<br>
            <input type="password" name="password2"></p>
            <input type="submit" value="Register" class="button">
        </form>
    </div>
</div>

{% endblock %}
