{% extends "layout.html" %}
{% block content %}

<div class="box">
    <ul class="box-top">
        <li class="box-title">Register</li>
    </ul>
    <div class="box-content">
        <div class="error">
            <p id="error-message"></p>
        </div>
        <div>
            <p>Username (1-20 characters):<br>
            <input type="text" name="username" id="username" onkeydown="handleEnter(event)"></p>
            <p>Password (8 characters minimum):<br>
            <input type="password" name="password1" id="password1" onkeydown="handleEnter(event)"></p>
            <p>Re-enter password:<br>
            <input type="password" name="password2" id="password2" onkeydown="handleEnter(event)"></p>
            <input type="submit" value="Register" class="button" id="register-button" onclick="register();">
        </div>
    </div>
</div>

<a href="/" style="padding: 10px">< Back</a>

<script>
    function handleEnter(event) {
        if (event.keyCode === 13) {
            register();
        }
    }

    function register() {
        var username = document.getElementById("username");
        var password1 = document.getElementById("password1");
        var password2 = document.getElementById("password2");

        var data = {
            username: username.value,
            password1: password1.value,
            password2: password2.value
        };

        fetch("/register", {
            method: "POST",
            body: JSON.stringify(data),
            headers: new Headers({
                "content-type": "application/json"
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.redirect) {
                window.location.replace(data.redirect);
            } else {
                showErrorMsg(data.message);
            }
        })
    }
</script>

{% endblock %}
