{% extends "layout.html" %}
{% block content %}

<div class="box">
    <ul class="box-top">
        <li class="box-title">Submit run for {{ game.title }}</li>
    </ul>
    <div id="error">
        {% if message %}
            {% include "error.html" %}
        {% endif %}
    </div>
    <div class="box-content">
        <form action="/game/{{ game.id }}/submit_run" method="POST">
            <p>Time:<br>
            <input type="number" min="0" name="hours" placeholder="h" class="input-time" oninput="validity.valid||(value='');"></input>
            <input type="number" min="0" name="minutes" placeholder="m" class="input-time" oninput="validity.valid||(value='');"></input>
            <input type="number" min="0" name="seconds" placeholder="s" class="input-time" oninput="validity.valid||(value='');"></input>
            <input type="number" min="0" name="ms" placeholder="ms" class="input-time" oninput="validity.valid||(value='');"></input></p>
            <p>Platform:<br>
            <select name="selected_platform">
                {% for platform in platforms %}
                <option value={{ platform.id }}>{{ platform.name }}</option>
                {% endfor %}
            </select></p>
            <input type="submit" value="Add" class="button">
            <input type="hidden" name="user_id" value="{{ session.user_id }}">
        </form>
    </div>
</div>

<a href="/game/{{ game.id }}" style="padding: 10px">Back</a>

{% endblock %}
