{% extends "layout.html" %}
{% block content %}

<div class="box">
    <ul class="box-top">
        <li class="box-title">{{ user.username }}'s Runs</li>
    </ul>
    <div class="box-content">
        <table id="games">
            <tr>
                {% if allow %}
                <th></th>
                {% endif %}
                <th style="text-align: left">Game</th>
                <th>Time</th>
                <th>Platform</th>
                <th>Date</th></tgh>
            </tr>
            {% for run in runs %}
            <tr>
                {% if allow %}
                <td width="1em">
                    <form action="/delete_run/{{ run.id }}" method="POST">
                        <input type="submit" value="x" class="delete-button">
                        <input type="hidden" name="user_id" value="{{ session.user_id}}">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    </form>
                </td>
                {% endif %}
                <td style="text-align: left"><a href="/game/{{ run.game_id }}">{{ run.game }}</a></th>
                <td>{{ format_time(run.time) }}</td>
                <td>{{ run.platform }}</td>
                <td>{{ run.date }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<a href="/" style="padding: 10px">Back</a>

{% endblock %}
